
.all-page {
    width: 100vw;
    height: 100vh;
}

.fix-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.w-45 {
    width: 45%;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

#logo-main {
    height: 120px;
    width: auto;
}

