
.all-page {
    width: 100vw;
    height: 100vh;
}

.fix-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.w-45 {
    width: 45%;
}

.r-0 {
    right: 0;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end-pos {
    justify-content: flex-end;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.img-replace {
    width: 100%;
    height: 250px;
    background-color: cadetblue;
}

.input-post {
    width: 600px;
}

.main-post-height {
    height: 250px;
    height: 250px;
    /* background-color: brown; */
}

.input-sambat {
    max-height: 150px;
    min-height: 150px;
    overflow-y: auto;
}

.user-pict {
    width: 30px;
    height: 30px;

    background-color: blueviolet;
}

.user-pict-lg {
    width: 40px;
    height: 40px;

    background-color: blueviolet;
}

.tutup-posting {
    z-index: 100;
    width: 600px;
    height: 250px;
    opacity: 0;
    position: absolute;
    transform: translate(-16px, -16px);
    transition: .2s ease;
}

.postingan:hover .tutup-posting {
    opacity: 1;
}

.postingan-media {
    position: fixed;
    z-index: 1200;
    bottom: 16px;
    left: 48px;
    width: 200px;
    height: 100px;
    transform: translateX(0);
    transition: .2s ease;
}

.postingan-media:hover .tutup-media {
    visibility: visible;
    opacity: 1;
}

#nav {
    z-index: 2999;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

#search-user-online {
    position: absolute;
    left: 5px;
    top: 12px;
    color: darkgray;
}

#logo-main {
    height: 120px;
    width: auto;
}

#main-page{
    height: 40px;
    width: auto;
}

#preload-Page {
    z-index: 1920;
}

#preload {
    height: 200px;
    width: auto;
}

#img-preview{
    display: none;
}

#video-preview {
    display: none;
    width: auto;
    height: 100px;
}

#post-img{
    max-height: 100%;
}

#foto-profile {
    height: 300px;
    justify-content: center;
}

#foto-profile img {
    height: 100%;
    width: auto;
    margin: 0 auto;
    border-radius: 20px;
}

#foto-profile div {
    opacity: 0;
    height: 280px;
    position: absolute;
    transition: .2s ease;
}

#foto-profile div i {
    font-size: 40px;
}

#foto-profile div:hover {
    opacity: .6;
}

#foto-profile div:hover i {
    opacity: 1;
}



